* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.App {
  width: 100%;
  height: 100vh;
}

.App .home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#132248), to(#120221));
  background: linear-gradient(180deg, #132248 0%, #120221 100%);
}

.App .home .logo {
  width: 338px;
  height: 224px;
  position: relative;
}

.App .home .logo .logo_name {
  position: absolute;
  color: white;
  font-size: 149.38px;
  font-weight: bold;
  z-index: 2;
}

.App .home .logo .logo_rectangle {
  position: absolute;
  background-color: #8d79e9;
  width: 235px;
  height: 30px;
  top: 153px;
  left: 90px;
  z-index: 0;
}

.App .home .menu {
  color: white;
  width: 602px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .home .menu .category,
.App .home .menu .username,
.App .home .menu .play {
  width: 602px;
  border: 2px solid #8d79e9;
  border-radius: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 60px;
  cursor: pointer;
  position: relative;
  margin: 10px 0px;
}

.App .home .menu .category span,
.App .home .menu .username span,
.App .home .menu .play span {
  font-size: 30px;
  font-family: "Inter";
}

.App .home .menu .category i,
.App .home .menu .username i,
.App .home .menu .play i {
  font-size: 30px;
}

.App .home .menu .category .dropdown,
.App .home .menu .username .dropdown,
.App .home .menu .play .dropdown {
  position: absolute;
  width: 602px;
  bottom: -280px;
  left: -2px;
  z-index: 2;
  overflow: hidden;
}

.App .home .menu .category .dropdown .celebrities,
.App .home .menu .category .dropdown .history,
.App .home .menu .category .dropdown .art,
.App .home .menu .username .dropdown .celebrities,
.App .home .menu .username .dropdown .history,
.App .home .menu .username .dropdown .art,
.App .home .menu .play .dropdown .celebrities,
.App .home .menu .play .dropdown .history,
.App .home .menu .play .dropdown .art {
  width: 100%;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  background-color: #120221;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.App .home .menu .category .dropdown .celebrities:hover,
.App .home .menu .category .dropdown .history:hover,
.App .home .menu .category .dropdown .art:hover,
.App .home .menu .username .dropdown .celebrities:hover,
.App .home .menu .username .dropdown .history:hover,
.App .home .menu .username .dropdown .art:hover,
.App .home .menu .play .dropdown .celebrities:hover,
.App .home .menu .play .dropdown .history:hover,
.App .home .menu .play .dropdown .art:hover {
  background-color: #8d79e9;
}

.App .home .menu .category .dropdown .unvisible,
.App .home .menu .username .dropdown .unvisible,
.App .home .menu .play .dropdown .unvisible {
  display: none;
}

.App .home .menu .category .dropdown .celebrities,
.App .home .menu .username .dropdown .celebrities,
.App .home .menu .play .dropdown .celebrities {
  border: 2px solid #8d79e9;
  border-radius: 50px 50px 0px 0px;
}

.App .home .menu .category .dropdown .history,
.App .home .menu .username .dropdown .history,
.App .home .menu .play .dropdown .history {
  border-left: 2px solid #8d79e9;
  border-right: 2px solid #8d79e9;
}

.App .home .menu .category .dropdown .art,
.App .home .menu .username .dropdown .art,
.App .home .menu .play .dropdown .art {
  border: 2px solid #8d79e9;
  border-radius: 0px 0px 50px 50px;
}

.App .home .menu .category input,
.App .home .menu .username input,
.App .home .menu .play input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  font-family: "Inter";
}

.App .home .menu .category input::-webkit-input-placeholder,
.App .home .menu .username input::-webkit-input-placeholder,
.App .home .menu .play input::-webkit-input-placeholder {
  border: none;
  color: white;
}

.App .home .menu .category input:-ms-input-placeholder,
.App .home .menu .username input:-ms-input-placeholder,
.App .home .menu .play input:-ms-input-placeholder {
  border: none;
  color: white;
}

.App .home .menu .category input::-ms-input-placeholder,
.App .home .menu .username input::-ms-input-placeholder,
.App .home .menu .play input::-ms-input-placeholder {
  border: none;
  color: white;
}

.App .home .menu .category input::placeholder,
.App .home .menu .username input::placeholder,
.App .home .menu .play input::placeholder {
  border: none;
  color: white;
}

.App .home .menu .category input:focus,
.App .home .menu .username input:focus,
.App .home .menu .play input:focus {
  outline: none;
}

.App .home .menu .category button,
.App .home .menu .username button,
.App .home .menu .play button {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  font-family: "Inter";
  cursor: pointer;
}

.App .home .menu .play {
  background-color: #8d79e9;
  text-decoration: none;
}

.App .home .menu .play:hover {
  background-color: #7f66eb;
}

.App .home .menu .q_numbers {
  position: relative;
  width: 602px;
  border: 2px solid #8d79e9;
  border-radius: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
  margin: 10px 0px;
  z-index: 1;
}

.App .home .menu .q_numbers .q_numbers_wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 60px;
}

.App .home .menu .q_numbers .q_numbers_wrapper span {
  font-size: 30px;
  font-family: "Inter";
}

.App .home .menu .q_numbers .q_numbers_wrapper i {
  font-size: 30px;
}

.App .home .menu .q_numbers .q_num {
  position: absolute;
  bottom: -104px;
  left: -2px;
  width: 602px;
  border: 2px solid #8d79e9;
  border-radius: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 60px;
  background-color: #120221;
}

.App .home .menu .q_numbers .q_num input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
}

.App .home .menu .q_numbers .q_num input::-webkit-input-placeholder {
  color: gray;
}

.App .home .menu .q_numbers .q_num input:-ms-input-placeholder {
  color: gray;
}

.App .home .menu .q_numbers .q_num input::-ms-input-placeholder {
  color: gray;
}

.App .home .menu .q_numbers .q_num input::placeholder {
  color: gray;
}

.App .home .menu .q_numbers .q_num input:focus {
  outline: none;
}

.App .home .menu .q_numbers .unvisible {
  display: none;
}

.App .quiz {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#132248), to(#120221));
  background: linear-gradient(180deg, #132248 0%, #120221 100%);
  position: relative;
}

.App .quiz .quiz_questions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.App .quiz .quiz_questions .score {
  position: absolute;
  left: 0;
  top: 65px;
  background-color: rgba(141, 121, 233, 0.2);
  color: white;
  padding: 25px 50px;
  border-radius: 0px 80px 80px 0px;
}

.App .quiz .quiz_questions .score .human_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .quiz .quiz_questions .score .human_player .pts {
  font-weight: 700;
  font-size: 25px;
  font-family: "Inter";
}

.App .quiz .quiz_questions .score .human_player .player_name {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3px;
}

.App .quiz .quiz_questions .timer {
  position: absolute;
  right: 0;
  top: 65px;
  font-family: "Inter";
  font-weight: 700;
  color: white;
  width: 250px;
  height: 108px;
  background-color: #9e46fd;
  border-radius: 94px 0px 0px 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
}

.App .quiz .quiz_questions .timer i {
  font-size: 50px;
  margin-right: 20px;
}

.App .quiz .quiz_questions .timer span {
  font-size: 35px;
}

.App .quiz .quiz_questions .timer .red {
  color: red;
}

.App .quiz .quiz_questions .quiz_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
  width: 100%;
}

.App .quiz .quiz_questions .quiz_content .q_number {
  margin-bottom: 25px;
}

.App .quiz .quiz_questions .quiz_content .q_number span {
  font-size: 20px;
  font-weight: 700;
}

.App .quiz .quiz_questions .quiz_content .question {
  text-align: center;
}

.App .quiz .quiz_questions .quiz_content .question span {
  font-family: "Inter";
  font-weight: bold;
  font-size: 34px;
}

.App .quiz .quiz_questions .quiz_content .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 70px;
}

.App .quiz .quiz_questions .quiz_content .buttons .answers {
  min-width: 350px;
  height: 108px;
  border-radius: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #8d79e9;
  cursor: pointer;
  padding-right: 10px;
}

.App .quiz .quiz_questions .quiz_content .buttons .answers:hover {
  background-color: rgba(141, 121, 233, 0.2);
}

.App .quiz .quiz_questions .quiz_content .buttons .answers .order_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(141, 121, 233, 0.2);
  font-size: 25px;
  font-family: "Inter";
  font-weight: 700;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 10px;
}

.App .quiz .quiz_questions .quiz_content .buttons .answers .answer {
  font-size: 25px;
  font-weight: 600;
  font-family: "Inter";
}

.App .quiz .quiz_questions .quiz_content .buttons .green {
  background-color: green;
}

.App .quiz .quiz_questions .quiz_content .buttons .red {
  background-color: red;
}

.App .quiz .quiz_questions .skip {
  margin-bottom: 60px;
  border-radius: 30px;
  background-color: rgba(141, 121, 233, 0.2);
  padding: 10px 25px;
  cursor: pointer;
}

.App .quiz .quiz_questions .skip:hover {
  background-color: rgba(141, 121, 233, 0.5);
}

.App .quiz .quiz_questions .skip span {
  font-size: 20px;
  font-weight: 900;
  font-family: "Inter";
  letter-spacing: 2px;
}

.App .quiz .quiz_questions .progress_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(141, 121, 233, 0.2);
}

.App .quiz .quiz_questions .progress_bar .percentage {
  height: 100%;
  background-color: #9e46fd;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_1 {
  width: 10%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_2 {
  width: 20%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_3 {
  width: 30%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_4 {
  width: 40%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_5 {
  width: 50%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_6 {
  width: 60%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_7 {
  width: 70%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_8 {
  width: 80%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_9 {
  width: 90%;
}

.App .quiz .quiz_questions .progress_bar .pct_bar_10 {
  width: 100%;
}

.App .finish {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#132248), to(#120221));
  background: linear-gradient(180deg, #132248 0%, #120221 100%);
  color: white;
}

.App .finish .finish_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .finish .finish_data div {
  width: 500px;
  padding: 30px;
  text-align: center;
  border-radius: 94px;
  border: 2px solid #8d79e9;
  margin: 10px 0px;
}

.App .finish .finish_data div span {
  font-size: 30px;
}

.App .finish .finish_data .finish_link {
  text-decoration: none;
}

.App .finish .finish_data .finish_link .finish_time {
  background-color: #8d79e9;
  cursor: pointer;
}

.App .finish .finish_data .finish_link .finish_time span {
  color: white;
}

.App .finish .finish_data .finish_link .finish_time:hover {
  background-color: #9e46fd;
}
/*# sourceMappingURL=App.css.map */